.form-wrapper,
.books-list-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: .5rem 1rem;
}

.full-width-container {
  padding: 30px;
  width: 100%;
}

.list-item-btn {
  cursor: pointer;
  margin-top:20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
